.accountInfo {
  height: 70vh;
}

.accountButtons {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logOutButton,
.editButton {
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #384d50;
  background-color: white;
  color: #384d50;
  cursor: pointer;
  transition: 1s;
}

.logOutButton:hover,
.editButton:hover {
  background-color: #384d50;
  color: white;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
