.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 84vh;
  overflow: scroll;
  grid-gap: 20px;
  padding: 30px;
  margin-top: 10px;
}

.menu::-webkit-scrollbar {
  display: none;
}

.food,
.big-food {
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 300px;
  height: 95%;
  margin-bottom: 20px;
  position: relative;
}

.big-food {
  width: 350px;
}

.food img,
.big-food img {
  width: 255px;
  height: 250px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.big-food img {
  width: 300px;
}

.foodDetail {
  text-align: center;
  margin: 10px 0;
  color: #384d50;
}

.foodDetail p {
  margin: 5px 0;
  font-size: 20px;
}

.foodPrice {
  color: #0804049c;
  width: 80px;
  font-size: 10px;
  position: absolute;
  top: 10px;
  left: 30px;
  font-weight: bold;
  background-color: rgb(183, 190, 206);
}

.createButton {
  background-color: white;
  color: #384d50;
  padding: 7px 10px;
  border: 2px solid #384d50;
  border-radius: 6px;
  cursor: pointer;
  transition: 1s;
}

.createButton:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
  background-color: #384d50;
  border: 2px solid white;
}

@media screen and (max-width: 1025px) {
  .menu {
    grid-template-columns: repeat(2, 1fr);
  }

  .food {
    width: 99%;
  }

  .food img {
    width: 95%;
  }

  .big-food {
    width: 100%;
  }

  .big-food img {
    width: 95%;
  }
}

@media screen and (max-width: 700px) {
  .menu {
    padding: 0;
    grid-template-columns: 1fr;
    padding-left: 10px;
    padding-top: 10px;
    width: 80vw;
  }
  .food {
    width: 70%;
  }

  .big-food {
    width: 95%;
  }

  .big-food img {
    width: 90%;
  }
  .food img {
    width: 90%;
    height: 190px;
  }
}
